.menu {
    display: flex;
    width: 6rem;
    min-height: 100vh;
    overflow-x:  hidden;
    background-color: var(--azul-padrao);
    align-items: center;
}

.menu-wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 6rem;
    border-bottom: 1px solid white;
}

.menu-wrapper:hover {
   background-color: var(--azul-hover);
}

.menu-wrapper:first-child {
    border-top: 1px solid white;
}

.botoes {
    color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.menu-item-icone {
    font-size: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all .5s ease-in-out;
}

.menu-item:hover {
    scale: .8;
    transition: all .5s ease-in-out;
}

.menu-item {
    padding: .5rem;
    transition: all .5s ease-in-out;
    text-decoration: none;
    color: inherit;
}

.menu-item:hover{
    cursor: pointer;
}

.menu-item-nome {
    font-size: 14px;
}

.conteudo {
    height: 100vh;
    z-index: 1000;
    
}
/* 
.botoes .menu-item:nth-child(3) > * {
   border-bottom: 1px solid white;
} */