.campo {
    width: 100%;
    border: 1.5px solid rgba(128, 128, 128, 0.55);
    border-radius: 5px;
    height: 35px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.2s ease-in-out;
}

.campo:focus {
    outline: none;
    border-color: var(--azul-padrao);
}

.campo:hover {
    border-color: var(--azul-padrao);
}

.campo-erro {
    border: 2px solid red
}

h1 {
    color: var(--azul-padrao);
    
}

.label-input {
    color: var(--azul-padrao);
    font-size: 15px;
    padding-bottom: 5px;
    padding-left: 4px;
    font-weight: 500;
}

.label-input-erro {
    color: var(--vermelho-padrao);
    font-size: 15px;
    padding-bottom: 5px;
    padding-left: 4px;
    font-weight: 500;
}

.campo-label {
    display: block;
    color: var(--azul-padrao);
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 4px;
    margin-left: 4px;
}



