html, body {
  overflow: hidden !important;
  height: 100%;
}


.tela-centralizada {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background: var(--branco-padrao);
  overflow: hidden;
  flex-direction: column;
}

.cadastro-container {
  box-shadow: 0px 0px 15px -4px var(--cinza-escuro);
  -webkit-box-shadow: 0px 0px 15px -4px var(--cinza-escuro);;
  -moz-box-shadow: 0px 0px 15px -4px var(--cinza-escuro);
  margin-top: 12px;
  border-radius: 6px;
  width: 100vh;
  height: 70vh;
  display: flex;
  justify-content: center;
}

.formulario-funcionario {
  width: 25rem;
  margin-top: 9vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 32px 24px 24px 24px;
  border-radius: 16px;
  height: 52vh;
  box-sizing: border-box;
}


.campoGrupo {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.switch-bar {
  display: flex;
  align-items: center;
  width: 60px;
  height: 28px;
  background: var(--branco-padrao);
  border-radius: 16px;
  position: relative;
  cursor: pointer;
  border: 3px solid var(--azul-padrao);
  transition: background 0.2s;
}

.switch-ball {
  position: absolute;
  left: 4px;
  width: 20px;
  height: 20px;
  background: var(--azul-padrao);
  border-radius: 50%;
  transition: left 0.25s cubic-bezier(.4,0,.2,1), background 0.2s;
}
.switch-ball.inativo {
  left: 32px;
  background: var(--branco-padrao);
  border: 3px solid var(--azul-padrao);
}
.switch-label {
  user-select: none;
  font-weight: 500;
  color: var(--azul-padrao);
}

.campoOu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
}

.botoesCadastro {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

h4 {
    font-size: 15px;
    color: rgb(185, 185, 185, 1);
    font-weight: 500;
}



.linhaCampos {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.linha-campos-espacada{
  display: flex;
  gap: 25px;
}

.titulo{
  color: var(--azul-padrao);
  font-size: 32px;
  margin-top: 5vh;
  padding: 1.5vh;
  margin-left: 50%;
  transform: translateX(-50%);
}

h4{
  margin-top: 4vh;
  padding: none;
}

.botao-cancelar {
  width: 45%;
}

.botao-salvar {
  width: 45%;
}
